<div class="container">
  <div class="m-5 p-5">
    <form [formGroup]="signUpForm" class="align-items-center">
      <div class="form-group pb-3">
        <label for="username">Username</label>
        <input formControlName="username" name="username" type="text" class="form-control" placeholder="Enter your username">
        <div class="error-validation" *ngIf="this.controls['username'].invalid && this.controls['username'].touched">
          <span *ngIf="this.controls['username'].hasError('required')">You must enter a username</span>
        </div>
      </div>
      <div class="form-group pb-3">
        <label for="emailInput">Email address</label>
        <input formControlName="email" name="email" type="email" class="form-control" placeholder="Enter your email">
        <div class="error-validation" *ngIf="this.controls['email'].invalid && this.controls['email'].touched">
          <span *ngIf="this.controls['email'].hasError('required')">You must enter an email</span>
          <span *ngIf="this.controls['email'].hasError('email')">You must enter a valid email</span>
        </div>
      </div>
      <div class="form-group pb-3">
        <label for="password">Password</label>
        <input formControlName="password" name="password" type="password" class="form-control"  placeholder="Write your password">
        <div class="error-validation" *ngIf="this.controls['password'].invalid && this.controls['password'].touched">
          <span *ngIf="this.controls['password'].hasError('required')">Your password must not be empty</span>
        </div>
      </div>
      <div class="form-group pb-3">
        <label for="passwordInput">Password</label>
        <input formControlName="passwordRepetition" name="passwordRepetition" type="password" class="form-control" placeholder="Write your password">
        <div class="error-validation" *ngIf="this.controls['passwordRepetition'].invalid && this.controls['passwordRepetition'].touched">
          <span *ngIf="this.controls['passwordRepetition'].hasError('required')">This field cant be empty</span>
          <span *ngIf="this.controls['passwordRepetition'].hasError('notSame')">Please enter the same password</span>
        </div>
      </div>
      <button [disabled]="!this.signUpForm.valid" type="submit" class="btn btn-primary w-100">Register</button>
    </form>
  </div>
</div>
