<div class="context">
  <h1 class="text-center">Hey! Lets create something and don't forget about it!</h1>
  <p class="text-center lead">This is an example homepage for the API todo list app built with Spring boot in Java</p>
</div>
<div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
</div >
